@charset 'UTF-8';
/* modal popup common style */
/* for IBsheet Calendar */
[class*="PickMain"]{z-index: 2000}
/*.popup:not(.modal){position: fixed; top:50%; left: 50%; transform: translate(-50%, -50%); background: #fff; z-index: 1001}*/
.popup.modal .modal-content{border-radius: 20px; overflow: hidden;}
.dimed{position: fixed; top:0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.5); z-index: 1000}
.popup [class*="header"], .popup [class*="body"]{padding: 16px 32px}
.popup [class*="header"]{border-bottom: 1px solid #f4f6f8}
.popup [class*="footer"]{padding: 16px 24px; border-top: 1px solid #f4f6f8}
.popup [class*="footer"] .butn i{width: 18px}
.popup [class*="title"]{font-size: 18px; font-weight: 700; letter-spacing: -0.54px}
.popup [class*="body"] [class*="title"]{font-size: 15px; font-weight: 700; letter-spacing: -0.45px}
.popup [class*="body"] [class*="title"] i{margin-right: 8px; vertical-align: middle; font-size: 16px; color: #087ef7}
.popup [class*="footer"] .butn{margin: 0; padding: 10px 16px; font-weight: 500; color: #777e87}
.popup [class*="footer"] .butn.black1{color: #363c43;}
.popup [class*="footer"] .butn+.butn{margin-left:8px}
.popup.sml:not(.modal){width: 450px}
.popup.modal.sml .popup_inner{max-width: 450px}
.popup.mid:not(.modal){width: 600px}
.popup.modal.mid .popup_inner{max-width: 600px}
.popup.lar:not(.modal){width: 800px}
.popup.modal.lar .popup_inner{max-width: 800px}
/* rd용 너비  rla */
.popup.rla:not(.modal){width: 960px}
.popup.modal.rla .popup_inner{max-width: 960px}
.popup.xla:not(.modal){width: 1170px}
.popup.modal.xla .popup_inner{max-width: 1170px}

.popup .closed{position: absolute; top: 18px; right: 32px; width: 24px; height: 24px; padding:0}
.popup .closed:before{display: none}
.popup .closed i{transform: none; font-size: 24px; color: #9ca3ab}
.popup .closed i:before{content:'close'}

.popup.full {min-height: 100vh; background-color: #f8f8f8}
.popup.full [class*="header"]{margin-bottom: 8px; padding: 24px 96px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08); justify-content: center; text-align: center; background-color: #fff}
.popup.full [class*="title"]{font-size: 16px; font-weight: 700; letter-spacing: -0.48px}
.popup.full .closed{position: absolute; top: 24px; right: 48px; width: 24px; height: 24px; padding:0}
.popup.full .closed:before{display: none}
.popup.full .closed i{transform: none; font-size: 24px; color: #9ca3ab}
.popup.full .closed i:before{content:'close'}
.popup.full .popup_inner{width: 800px; margin: 0 auto 8px; padding:40px 32px; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(49, 54, 58, 0.05); background-color: #fff;}
.popup.full .wrap_form{padding-top: 8px}
/* .popup.board{background-color: #fff} */ /* 22.01.03 메인 게시판 상세 모달 백그라운드 변경 */
.popup.board .popup_inner{width: 960px; padding: 0; box-shadow: none}
.popup.board [class*="footer"]{/* padding: 8px 0; */ border-top:0; box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.08);} /* 22.01.04 닫기 버튼에 outline이 추가됨에 따라 padding 값 주석처리 */
.popup .wrap_form2{padding-bottom: 32px}
.popup:not(.full) .slimScrollDiv, .popup:not(.full) .slimScrollDiv [class*="body"]{height: auto !important; max-height: calc(100vh - 159px - 3.5rem) !important}
.popup:not(.modal) .slimScrollDiv, .popup:not(.modal) .slimScrollDiv [class*="body"]{height: auto !important; max-height: calc(100vh - 76px) !important}
.popup.full .slimScrollDiv, .popup.full .slimScrollDiv [class*="body"]{height: auto !important; max-height: calc(100vh - 84px) !important}
.popup.board .slimScrollDiv, .popup.board .slimScrollDiv .wrap_board_cont{min-height: calc(100vh - 254px) !important; max-height: calc(100vh - 246px) !important}
.popup.board.write .slimScrollDiv, .popup.board.write .slimScrollDiv .wrap_board_write{min-height: calc(100vh - 203px) !important; max-height: calc(100vh - 203px) !important}
.modal+.modal{z-index: 1052 !important;}
.modal-backdrop.show+.modal-backdrop.show{z-index: 1051 !important;}
.modal+.modal+.modal{z-index: 1054 !important;}
.modal-backdrop.show+.modal-backdrop.show+.modal-backdrop.show{z-index: 1053 !important;}
.modal+.modal+.modal+.modal{z-index: 1056 !important;}
.modal-backdrop.show+.modal-backdrop.show+.modal-backdrop.show+.modal-backdrop.show{z-index: 1055 !important;}

/* modal popup work style */
/* modal > box-search */

/* popup form-control */
.popup [class*="body"].task-modal [class*="title"]{
    font-size: 14px;
}

.popup [class*="body"].task-modal .contents-header [class*="title"]{
    display:inline-block;
    margin-right:10px;
    font-size: 14px;
    line-height: 32px;
}

.popup [class*="body"].task-modal .contents-header [class*="title"] small,
.popup [class*="body"].task-modal .contents-header .btn-wrap li small{
    position: relative;
    margin-left: 16px;
    font-size: 13px;
    line-height: 1.43;
    letter-spacing: -0.42px;
    color: #363c43;
}
.popup [class*="body"].task-modal .form-control{font-size: 13px; border-radius: 6px;}

.popup [class*="body"].task-modal .form-inline label{margin-right: 13px; text-indent: 0px; font-size: 13px;font-weight: 500;letter-spacing: -0.45px;color: #363c43;}
.popup [class*="body"].task-modal .form-inline .input-wrap input,
.popup [class*="body"].task-modal .form-inline .input-wrap select{width: 100%; color: #363c43; font-size: 13px; font-weight: normal;}
.popup [class*="body"].task-modal .form-group .input-wrap input,
.popup [class*="body"].task-modal .form-group .input-wrap select{
    color: #363c43;font-size: 13px; font-weight: normal;
}
.popup [class*="body"].task-modal .input-wrap.search input{
    padding-left: 24px;
}
.popup [class*="body"].task-modal .input-wrap.search .mdo-ico{
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 18px;
    color:#9ca3ab;
}

.popup [class*="body"].task-modal .form-inline .date-wrap{
    display: flex;
}
.popup [class*="body"].task-modal .form-inline .input-wrap.date,
.popup [class*="body"].task-modal .form-group .input-wrap.date,
.popup [class*="body"].task-modal .form-inline .input-wrap.search,
.popup [class*="body"].task-modal .form-group .input-wrap.search{
    position: relative;
}
.popup [class*="body"].task-modal .form-inline .input-period,
.popup [class*="body"].task-modal .form-group .input-period{
    display: inline-block;
    padding: 6px;
}
.popup [class*="body"].task-modal .form-inline .input-period::after,
.popup [class*="body"].task-modal .form-group .input-period::after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 1px;
    margin-top: 10px;
    background-color: #363c43;
}
.popup [class*="body"].task-modal .form-inline .input-period.type2{
    padding:0px;
}
.popup [class*="body"].task-modal .form-inline .input-period.type2::after{
    content: '~';
    background-color: transparent;
}
.popup [class*="body"].task-modal .form-inline .input-wrap.date button,
.popup [class*="body"].task-modal .form-inline .input-wrap.date a,
.popup [class*="body"].task-modal .form-group .input-wrap.date button,
.popup [class*="body"].task-modal .form-group .input-wrap.date a,
.popup [class*="body"].task-modal .form-inline .input-wrap.search button,
.popup [class*="body"].task-modal .form-inline .input-wrap.search a,
.popup [class*="body"].task-modal .form-group .input-wrap.search button,
.popup [class*="body"].task-modal .form-group .input-wrap.search a{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    line-height: 24px;
    font-size: 18px;
    background-color: #eff1f4;
}

.popup [class*="body"].task-modal .form-inline .input-wrap.search button,
.popup [class*="body"].task-modal .form-group .input-wrap.search button{
    left: unset;
    right: 4px;
}
.popup [class*="body"].task-modal .form-inline .date .form-control,
.popup [class*="body"].task-modal .form-group .date .form-control{
    padding-left: 38px;
}
.popup [class*="body"].task-modal .form-inline .form-control{
    border: 1px solid #d5d8dc;
    border-radius: 6px;
}

.popup [class*="body"].task-modal .form-inline.form-addr .input-wrap{
    flex: 1 110px;
}
.popup [class*="body"].task-modal .form-inline.form-addr .butn{
    flex-basis: 110px;
}
.popup [class*="body"].task-modal .form-control:focus{
    border-color: #465166;
    box-shadow: none;
}

/* transparent */
/* transparent placeholder일 때 */
.popup [class*="body"].task-modal .form-control.transparent{
    border:0px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.popup [class*="body"].task-modal .form-control.transparent::-ms-expand {
    display: none;
}
.popup [class*="body"].task-modal .form-control.transparent::placeholder{
    color: transparent!important;
}
.popup [class*="body"].task-modal select.form-control.transparent,
.popup [class*="body"].task-modal input.form-control.transparent,
.popup [class*="body"].task-modal textarea.form-control.transparent{
    padding: .375rem 0;
    font-size: 13px;
}
/* 달력 input box */
.popup [class*="body"].task-modal .input-wrap.date .form-control.transparent{
    padding: .375rem 0;
}
.popup .input-wrap.date .form-control.transparent+button,
.popup .input-wrap.date .form-control.transparent+a{
    display: none;
}


/* 인사기본 */
.popup [class*="body"].task-modal .hrbasic{
    border-top:1px solid #cacdcf;
    margin-left: 0px;
    margin-right: 0px;
}
/* 채용발령 modal */
.popup [class*="body"].task-modal .hrbasic .cell .form-group .input-wrap.date button, 
.popup [class*="body"].task-modal .hrbasic .cell .form-group .input-wrap.date a{
    top: 4px;
    left: 9px;
}
.top-line{border-top:1px solid #cacdcf!important;}
.top-line.thick{border-top:2px solid #cacdcf!important;}
.bottom-line{border-bottom:1px solid #cacdcf!important;}
.bottom-line.thick{border-bottom:2px solid #cacdcf!important;}
.right-line{border-right:1px solid #cacdcf!important;}
.right-line.thick{border-right:2px solid #cacdcf!important;}
.left-line{border-left:1px solid #cacdcf!important;}
.left-line.thick{border-left:2px solid #cacdcf!important;}
.border-line{border:1px solid #cacdcf!important;}

/* hr 기본 cell 스타일 */
.hrbasic-header{padding: 12px 16px;border-top:1px solid #cacdcf;margin-left: 0px;margin-right: 0px;background-color: #f7f7f7;}
.hrbasic-header .title{padding: 0px;font-size: 14px;font-weight: bold;line-height: 1.33;letter-spacing: -0.45px;color: #363c43;}
.hrbasic .cell{padding: 8px 16px;border-left:1px solid #cacdcf;font-size: 13px;line-height: 1.46;letter-spacing: -0.26px;color: #363c43;}
.hrbasic .cell:first-child{border-left:0px;}
.hrbasic .cell .data+.data::before{content: '';display: inline-block;width:1px;height: 14px;margin-right: 10px;margin-left: 10px;margin-bottom: -2px;background-color: #c1c1c1;}
.hrbasic .cell .input-wrap{padding-right: 4px; padding-left: 4px;}
.hrbasic .cell .input-wrap .btn-search{width: 100%;}
.hrbasic .cell .input-wrap:last-child{padding-right: 16px;}
.hrbasic .cell .col-form-label{padding-right: 0px;}
.hrbasic .cell .data{font-size: 12px;}
.hrbasic .cell .form-group .input-wrap.date button,
.hrbasic .cell .form-group .input-wrap.date a{top: 4px;left: 9px;}

.hrbasic .cell .checkbox,
.hrbasic .cell .btn_radio label{line-height: 32px;}
.hrbasic .cell .checkbox label{margin-top: 6px;}

.hrbasic.pop-up .cell{padding: 6px 0px 6px 8px;border-left: 0px;}
.hrbasic.pop-up .cell .col-form-label{padding-left: 8px;}


/* component */
/* input-wrap 너비별 정의 */
.input-wrap.w-50{width: 50px!important;}
.input-wrap.w-60{width: 60px!important;}
.input-wrap.w-70{width: 70px!important;}
.input-wrap.w-80{width: 80px!important;}
.input-wrap.w-90{width: 90px!important;}
.input-wrap.w-100{width: 100px!important;}
.input-wrap.w-110{width: 110px!important;}
.input-wrap.w-120{width: 120px;}
.input-wrap.w-130{width: 130px;}
.input-wrap.w-140{width: 140px;}
.input-wrap.w-150{width: 150px;}
.input-wrap.w-160{width: 160px;}
.input-wrap.w-170{width: 170px;}
.input-wrap.w-180{width: 180px;}
.input-wrap.w-190{width: 190px;}
.input-wrap.w-200{width: 200px;}
.input-wrap.w-210{width: 210px;}
.input-wrap.w-220{width: 220px;}
.input-wrap.w-230{width: 230px;}
.input-wrap.w-240{width: 240px;}
.input-wrap.w-250{width: 250px;}
.input-wrap.w-370{width: 370px;}

/* popup button */
/* 업무화면 버튼 스타일 */
.popup [class*="body"].task-modal .butn{padding: 8px 14px 7px;border-radius: 6px;font-weight: bold;font-size: 12px;}
.popup [class*="body"].task-modal .box-search .butn{
    margin-left: 24px;
}
.popup [class*="body"].task-modal .box-search .form-inline+.form-inline{
    margin-left:24px;
}

.popup [class*="body"].task-modal .butn.outline{padding:6px 10px; line-height: 18px;}
.popup [class*="body"].task-modal .butn.outline.thick{border: 1px solid #363c43}
.popup [class*="body"].task-modal .butn.outline.btn-sm{padding: 2px 8px;line-height: 18px;font-size: 12px;font-weight: 400;}
.popup [class*="body"].task-modal .pay-item .butn.outline span{
    word-break: keep-all;
}
.popup [class*="body"].task-modal .butn.fixed{width:105px;}
.popup [class*="body"].task-modal .butn i{margin-right: 4px;}
.popup [class*="body"].task-modal .butn_ico{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}


/* radio 업무 페이지 custom */
.popup [class*="body"].task-modal .btn_radio label{
    font-size: 13px;
}
.popup [class*="body"].task-modal .btn_radio label::before{
    width: 18px;
    height: 18px;
}
.popup [class*="body"].task-modal .btn_radio input:checked + label:after{
    width: 9px;
    height: 9px;
    transform: translate(4.5px, -50%);
}

/* toggle button */
/* 급여 선택형 토글 */
.btn-group-toggle .btn{padding: 6px 12px;border-radius: 6px;border:1px solid #cacdcf;margin:0px;color: #cacdcf;font-weight: bold;font-size: 13px;box-shadow: none;}
.btn-group-toggle>.btn:not(:first-child){
    margin-left: -1px;
}
.btn-group-toggle .active{
    border: solid 1px #363c43;
    background-color: #fff;
    color: #465166
}
.btn-group-toggle .single{
    width: 168px;
}
.btn-group-toggle .double{
    width: 84px;
}

/* 급여 수식 */
.formula .example{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: -0.45px;
    color: #777e87;
}
/* 분자, 분모 */
.formula .numerator,
.formula .denominator{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: -0.36px;
    text-align: center;
    color: #777e87;
}
.formula .bottom-line{
    border-color: #777e87 !important;
}
.formula .desc{
    display: inline-block;
    vertical-align: top;
}

.popup .contents-header{
    padding: 0px;
    border-bottom: 0px;
    margin-bottom: 8px;
}
.popup .contents-header .outline{
    border: 1px solid #d5d8dc;
}
.popup .contents-header .outline .butn_ico{
    border-radius: 0px;
}
.popup .contents-header .btn-wrap{
    display: inline-block;
    border-radius: 6px;
    line-height: 1;
}
.popup .contents-header .btn-wrap button+button,
.popup .contents-header .btn-wrap a+a{
    border-left: 1px solid #d5d8dc;
    border-radius: 0px;
    margin-left: -4px;
}
.popup .contents-header .btn-wrap .radio-wrap{
    padding-top: 6px;
}
.popup .contents-header .btn-wrap li{
    float: left;
    margin-left: 8px;
    padding-right: 0px;
}
.popup .contents-header .btn-wrap li:first-child{
    margin-left: 0px;
}

/* 보기모드 */
.popup .contents-header .btn-wrap .radio-wrap .label-title{
    display: inline-block;
    margin-top: -12px;
    font-size: 14px;
    vertical-align: middle;
}

.popup .box-search{
    display: flex;
    flex: 1 124px;
}

.popup .desc{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    color: #9ca3ab;
}
.popup .form-group{
    margin-bottom: 0px;
}

/* 첨부파일로 인해 table td 기본 높이 지정 */
table.basic td{
    height: 36px;
}

/* 유의사항 box */
.popup .notice-box{
    padding: 12px 16px;
    background-color: #fff8f8;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -0.42px;
    color: #777e87;
    font-size: 12px;
}
.popup .notice-box.grey{padding: 16px;background-color: #f4f4f4!important;font-weight: normal;line-height: 1.43;letter-spacing: -0.42px;color: #777e87;font-size: 14px;}
.popup .notice-box .inner-wrap{width: 535px;margin: 0 auto;}
.popup .notice-box li::before{content: '-';margin-left: -8px;margin-right: 4px;}
.popup .notice-box .title{margin-bottom: 8px;font-size: 13px;font-weight: 500;line-height: 1.43;letter-spacing: -0.42px;color: #363c43;}
.popup .notice-box .title .mdo-ico{vertical-align: text-bottom;font-size: 20px;margin-right: 8px;}


/* 결재의견 */
.popup .task-modal textarea.form-control{
    /* height: 180px; */
    resize: none;
}

/* 결재선 */
div.sign-outer-wrap{margin-left: -7px;margin-right: -7px;}
div.sign-outer-wrap .sign-area{float: left;padding-left: 7px;padding-right: 7px;}
div.sign-outer-wrap .manager .sign-area{
    float: left;
    /* 방향 바꿈 */
}
div.sign-outer-wrap .sign-area:nth-child(n+5){margin-top: 16px;}
div.sign-outer-wrap .sign-area:first-child .sign-wrap:before{display: none;}

.sign-wrap{
    position: relative;
    border:1px solid #087ef7;
}
/* .sign-wrap:before{
    content: '\e5cc';
    display: inline-block;
    position: absolute;
    top: 13px;
    left: -16px;
    font-family: 'Material Icons';
    color: #8f959f;
    font-size: 18px;
} */

.sign-wrap table{width: 100%;;text-align: center;}
.sign-wrap table th{padding: 4px;background-color: #087ef7;color: #ffffff;text-align: center;font-size: 13px;}
.sign-wrap table td{height: 28px;border-top: 1px dashed #d6d6d6;padding: 5px;font-weight: 500;font-size: 12px;letter-spacing: -0.42px;color: #363c43;}
.sign-wrap table tr:first-child>td{border-top: 0px;}

/* 결재완료 시 */
.sign-wrap.complete table td{background-color: #f0f7ff;color:#087ef7;}

/* 담당 결재라인 */
.manager .sign-wrap{border:1px solid #465166;}
.manager .sign-wrap table th{background-color: #465166;}

/* 결재 경로 변경 */
.btn-append-wrap{position: relative;}
.popup [class*="body"].task-modal .btn-append-wrap .btn-append{
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: -64px;
    width: 36px;
    height: 36px;
    line-height: 36px;
}

/* 결재의견 */
.approval-opinion .text-wrap{flex-shrink: 2; flex-basis: 826px; /* 속기형(순서 중요)*/ }
.approval-opinion .text-wrap textarea {width: 100%;max-height: 52px;}
.approval-opinion .btn-register{min-width: 72px;max-width: 72px;font-size: 12px;}

/* 급여항목관리 */
.scroll-table table.calc td{height: 245px;vertical-align: top;padding: 12px 16px;}
table.calc .payList{margin-left: -16px;margin-right: -16px;}
table.calc .pay-item:nth-child(odd) {padding: 4px 4px 4px 16px;}
table.calc .pay-item:nth-child(even) {padding: 4px 16px 4px 4px;}
table.calc .pay-item button{padding: 7px 8px;font-weight: normal;font-size: 13px;}
table.calc .pay-item button span{word-break: keep-all;}


/* 개인급여관리 계산식 */
.search-outer-wrap{width: 830px;margin: 0 auto;}
.popup [class*="body"].task-modal .search-outer-wrap .btn-setting{border:1px solid #d5d8dc;width: 32px;height: 32px;margin-top: 0px;margin-bottom: 0px;margin-left: 24px;}
.search-outer-wrap .label-title{flex-shrink: 1; flex-basis: 82px; /* 속기형(순서 중요)*/ }
.search-outer-wrap .text-wrap{flex-shrink: 2; flex-basis: 653px; /* 속기형(순서 중요)*/ }
.search-outer-wrap .text-wrap textarea {width: 100%;min-height: 32px;max-height: 68px;}
.search-outer-wrap .btn-verify{min-width: 80px;max-width: 80px;width: 100%;font-size: 12px;}

/* 조직관리 프로필 테이블 */
.profile-table .img-wrap{position: relative;width: 130px;min-height: 150px;border: 1px solid #e0e0e0;}
.profile-table .img-wrap img{position: inherit;z-index: 99;display: inline-block;width: 100%;height: auto;}
.profile-table .img-wrap .info{position: absolute;top: 50%;left: 0px;display: inline-block;width: 100%;margin-top: -10px;font-size: 16px;line-height: 1.25;letter-spacing: -0.48px;font-weight: bold;text-align: center;color: #cacdcf;}
.profile-table .img-wrap .info i{font-style: normal;margin-right: 8px;vertical-align: text-top;}
.profile-table .table-wrap{width: 390px;}

/* 개인 이미지 변경신청 */
.popup [class*="body"].task-modal .img-change-wrap{margin-top: -12px;}
.popup [class*="body"].task-modal .img-change-wrap .img-wrap{position: relative;display: flex;justify-content: center;flex-direction: column;min-height: 200px;margin-top: 12px;padding: 0px 10px;border:1px solid #e0e0e0;border-radius: 6px;text-align: center;}
.popup [class*="body"].task-modal .img-change-wrap .img-wrap button,
.popup [class*="body"].task-modal .img-change-wrap .img-wrap a{position: absolute;top: 14px;right: 14px;z-index: 999;width: 26px;height: 26px;line-height: 26px;border-radius: 50%;color: #ffffff;font-size: 14px;background-color: #777E87;}
.popup [class*="body"].task-modal .img-change-wrap .img-wrap .info{position: absolute;top: 50%;left: 0px;width: 100%;margin-top: -10px;font-size: 16px;font-weight: bold;line-height: 1.25;letter-spacing: -0.48px;color: #cacdcf;}
.popup [class*="body"].task-modal .img-change-wrap .img-wrap .info i{font-style: normal;margin-right: 8px;vertical-align: text-top;}

.popup [class*="body"].task-modal .img-change-wrap .img-crop{position: relative;height: 180px;overflow: hidden;margin: 10px auto;box-sizing: border-box;text-align: center;}
.popup [class*="body"].task-modal .img-change-wrap .img-crop img{position: inherit;z-index: 99;display: inline-block;width: auto;height: 180px;}

/* popover */
.guide-popover .mdo-ico{margin-left: 4px;font-size: 18px;color: #9ca3ab;vertical-align: text-top;}
.popover{border:0px;max-width: 300px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);z-index:9900!important;}
.popover-body{padding: 8px 16px;border-radius: 4px;font-weight: 500;font-size: 13px;background-color: #384152;line-height: 1.5em;color: #fff;}
.bs-popover-auto[x-placement^=bottom]>.arrow::after, 
.bs-popover-bottom>.arrow::after{
    border-bottom-color: #384152;
}
.bs-popover-auto[x-placement^=top]>.arrow::after, 
.bs-popover-top>.arrow::after{
    border-top-color: #384152;
}
.bs-popover-auto[x-placement^=right]>.arrow::after, 
.bs-popover-right>.arrow::after{
    border-right-color: #384152;
}
.bs-popover-auto[x-placement^=left]>.arrow::after, 
.bs-popover-left>.arrow::after{
    border-left-color: #384152;
}

/* loading spinner */
.popup .spinner-border{border-right-color: transparent;color: #087EF7;}
.progress-bar-wrap.dim-overlay{background: none;}
.progress-bar-wrap .inner-wrap{position: absolute;top: 50%;left: 50%;margin-top: -11.5px;margin-left:-158px;width: 316px;}
.progress-bar-wrap .myProgress {position: relative;text-align: center;background-color: rgba(0, 0, 0, 0.3);}
.progress-bar-wrap .myBar {width: 0%;height: 23px;background-color: #465166;}
.progress-bar-wrap .percent {position: absolute;top: 0;left: 0;display: inline-block;width: 100%;font-size: 14px;font-weight: bold;line-height: 1.43;color: #ffffff;}

/* board wrap_form from common */
/* form */
.board .wrap_form dl{display: table; width: 100%}
.board .wrap_form dl > *{display: table-cell; vertical-align: top}
.board .wrap_form dl + dl{border-top: 1px solid #dedede}
.board .wrap_form > dl:first-child, .wrap_form form > dl:first-child{border-top: 2px solid #dedede}
.board .wrap_form > dl:last-of-type, .wrap_form form > dl:last-of-type{border-bottom: 2px solid #dedede}
.board .wrap_form dl > dt{width: 178px; padding: 18px 24px; font-size: 14px; line-height: 1.43; letter-spacing: -0.42px; background-color: #f7f7f7; color: #363c43; font-weight: 700}
.board .wrap_form dl > dd{width: calc(100% - 178px); padding: 8px 24px; vertical-align: middle}
.board .wrap_form .btn_radio{margin-top: 10px; margin-bottom: 10px;}
.board .wrap_form .btn_radio+.btn_radio{margin-left: 48px}
.board .wrap_form .btn_radio.toggle input:checked + label > dl{display: inline-flex; align-items: center}
.board .wrap_form .form_fin{margin-top: 16px; text-align: right}
.board .wrap_form .inlineSubinput{display: inline-flex; align-items: center; vertical-align: middle;}
.board .wrap_form .inlineSubinput:before{content: ''; display: inline-block; width: 1px; height: 14px; margin: 0 24px; background-color: #d5d8dc; vertical-align: middle}
.board .wrap_form .inlineSubinput .label{font-size: 14px; font-weight: 500; padding-right: 24px}
/*
.board .wrap_form .btn_radio.toggle input:checked + label > dl > dt{width: 40%}
.board .wrap_form .btn_radio.toggle input:checked + label > dl > dd{width: calc(100% - 15%)}*/
.board .wrap_form2 dl{margin-bottom: 24px;}
.board .wrap_form2 dl.end{margin-bottom: 0}
.board .wrap_form2 dl > dt{margin-bottom: 8px; font-size: 14px; line-height: 1.43; letter-spacing: -0.42px; color: #777e87; font-weight: 500}
.board .wrap_form3 dl{display: flex; align-items: baseline; justify-content: space-between; width: 100%}
.board .wrap_form3 dl + dl{margin-top: 32px}
.board .wrap_form3 dl > dt{width: 153px; font-size: 14px; line-height: 1.43; letter-spacing: -0.42px; color: #777e87; font-weight: 500}
.board .wrap_form3 dl > dd{width: calc(100% - 153px)}
.board .wrap_form3 .btn_radio.toggle input:checked + label > dl{display: inline-flex; align-items: center}
.board .wrap_form .butn, .wrap_form3 .butn{font-weight: 500}
.board .wrap_form3 .form_fin{margin-top: 50px; text-align: right}
.board .wrap_form .sel_date + .sel_date, .wrap_form3 .sel_date + .sel_date{margin-top: 8px}
.sel_date{display: flex; justify-content: space-between; gap:10px}
.sel_date .date, .sel_date .time {width: 49%}
.sel_date .dash{line-height: 40px}
.sel_date .dash:before{content: ''; display: inline-block; width: 7px; height: 1px; background-color: #363c43; vertical-align: middle}
.sel_date .inputGroup + .inputGroup{margin-left: 0}
.multi_sel_date{width: 277px}
.multi_sel_date > *+*{padding-top: 16px; border-top: 1px solid #e7e9eb}
.multi_sel_date .pickDate{width: 88.45%; margin: 8px auto; color: #030303}
.multi_sel_date .sel_date{margin-top: 8px; margin-bottom: 16px; gap:4px}

/* 업무화면 tab custom */
.wrap_tab.task .nav-tabs{border-bottom: 0px;height: 52px;}
.wrap_tab.task .wrap_tab_btn{padding-left:0px;}
.wrap_tab.task .tab_btn{padding: 0px;}
.wrap_tab.task .tab_btn:first-child{padding-left: 24px;}
.wrap_tab.task .tab_btn:last-child{padding-right: 24px;}
.wrap_tab.task .tab_btn+.tab_btn{margin-left: 0px; padding-left:20px;}
.wrap_tab.task .tab_btn.open{border-bottom: 0px;}
.wrap_tab.task .tab_btn a{padding: 16px 0px 12px; border:0px; border-radius: 0px; font-size: 13px; line-height: 22px; font-weight: 700; letter-spacing: -0.45px; text-align: left; color: #9ca3ab}
.wrap_tab.task .tab_btn a:focus,.wrap_tab.task .tab_btn a:hover{border:0px;}
.wrap_tab.task .tab_btn a.active{color: #363c43; border:0px; border-bottom:2px solid #363c43; }
.wrap_tab.task .tab_btn a:hover{color: #363c43;}
.wrap_tab.task .scrtabs-tab-container,
.wrap_tab.task .scrtabs-tabs-fixed-container{height: 52px;}
.wrap_tab.task .scrtabs-tab-scroll-arrow{width:36px; height: 64px; padding: 14px 0px; border:0px; color:#9ca3ab;}
.wrap_tab.task .scrtabs-tab-scroll-arrow:hover{background-color: transparent;}
.wrap_tab.task .scrtabs-tab-scroll-arrow>.butn_ico{box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);}

/* select2 모달 z-index */
.select2-dropdown {  z-index: 10060 !important;/*1051;*/font-size:13px;}
/* select2 */
.select2-container{width: 100% !important;min-width: 120px;}
.select2-container--default .select2-selection--multiple{min-height: 32px;padding-bottom: 4px;border: 1px solid #d5d8dc;border-radius: 6px;}

/* select2 > dropdown style */
.select2-container--default .select2-results__option--selected{background-color: #f2f2f2;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color: #087ef7;}
.select2-container--default .select2-search--inline .select2-search__field{color: transparent;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{padding: 0px;color: #363c43;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{padding: 1px 26px 1px 12px;border: 0px;border-radius: 20px;margin-top: 4px;margin-left: 4px;background-color: #f5f6f7;font-size:13px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{padding: 2px 8px;border-right: 0px;left:unset;right:0;color: #777e87;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus{background-color: transparent;}

/* 평가 목표등록 */
/* 목표등록 레이아웃 */
.contents-wrap .contents-box.eval-modal-left{padding-right: 0px;}
.contents-wrap .contents-box.eval-modal-left .scroll-area{padding-right: 16px;}
.contents-wrap .contents-box.eval-modal-height{position: relative; height: 474px; border-left: 0px!important;}
.contents-wrap .contents-box.eval-modal-height::before{position: absolute;content: '';top: -16px;bottom: -16px;left: 0;width: 1px;background-color: #dedede;}

/* 나의 업적 */
.step-list li{padding: 16px 14px 16px 16px;border:1px solid #dedede;border-radius: 6px;margin-top: 10px;}
.step-list li.active{border-color: #167ef7; background-color: #f6faff;}
.step-list li:first-child{margin-top: 16px;}
.step-list .sub-target{width:160px; font-size: 18px;font-weight: bold;line-height: 1.11;letter-spacing: -0.54px;color: #363c43;}
.step-list .target-wrap{margin-top: 20px;}
.step-list .target-wrap i{margin-right: 8px; vertical-align: middle;}
.step-list .ratio-wrap{width: 64px;height: 64px;padding: 16px 0px 8px;border-radius: 50%;background-color: rgba(33, 191, 84, 0.17);font-size: 22px;font-weight: bold;line-height: 0.91;letter-spacing: -0.66px;text-align: center;color: #21bf54;}
.step-list .ratio-wrap .unit{display: block; margin-top: 2px; font-size: 12px;line-height: 1.17;letter-spacing: -0.36px;color: #21bf54;}

/* 목표등록 내용 */
.eval-modal-height .desc{font-size: 16px;font-weight: 500;line-height: 1.25;letter-spacing: -0.48px;color: #363c43;}
.eval-modal-height .big-btn-wrap{margin-top: 28px;}
.eval-modal-height .btn-big{width: 210px; height: 68px; font-size: 16px!important;font-weight: bold;line-height: 2;letter-spacing: -0.48px;}
.eval-modal-height .btn-big i{margin-right: 12px!important; font-size: 24px; vertical-align: text-bottom;}
.eval-modal-height .btn-big+.btn-big{margin-left: 10px;}

/* 선택되지 않은 조직 목표 리스트 > 아코디언 */
.eval-modal-height .accordion-wrap{margin-top: 20px;}
.eval-modal-height .accordion-wrap:first-child{margin-top: 0px;}
.eval-modal-height .accordion .card{margin-top: 12px;border: 1px solid #dedede;border-radius: 6px;box-shadow: none; -webkit-box-shadow: none;}
.eval-modal-height .accordion .card:first-child{margin-top: 0px;}
.eval-modal-height .accordion .card-header{border-bottom: 0px; }
.eval-modal-height .accordion .card-header .btn{display: flex; align-items: center; position: relative;padding: 22px 116px 22px 18px;color: #363c43; box-shadow: none; -webkit-box-shadow:none;}
.eval-modal-height .accordion .card-header .btn:hover, 
.eval-modal-height .accordion .card-header .btn:focus, 
.eval-modal-height .accordion .card-header .btn:active{box-shadow: none; -webkit-box-shadow:none;}

/* 아코디언 > 우측 edit, delete 버튼 */
.eval-modal-height .accordion .card-header .btn-import{position: absolute; top: 50%; right: 18px; margin-top: -18px; flex-basis: 78px; width: 78px;}

/* 아코디언 내부 콘텐츠 */
.eval-modal-height .accordion .card-body{padding: 2px 18px 18px 62px;}
.eval-modal-height .accordion .card-body .objective-box{margin-top: 8px;padding: 14px 14px 14px 36px;border-radius: 6px;border: solid 1px #dedede;background-color: #f9fafc;}
.eval-modal-height .accordion .card-body .objective-box:first-child{margin-top: 0px;}
.eval-modal-height .accordion .card-body .objective-title{position: relative; font-size: 16px;font-weight: 500;line-height: 1.25;letter-spacing: -0.48px;color: #363c43;}
.eval-modal-height .accordion .card-body .objective-title::before{content: '';position: absolute;top: 10px;left: -10px;display: inline-block;width: 4px;height: 4px;background-color: #465166;}
.eval-modal-height .accordion .card-body .objective-list{margin-top: 8px;}
.eval-modal-height .accordion .card-body .objective-list>li::before{content: '- ';}
.eval-modal-height .accordion .card-body .objective-list>li{font-size: 15px;line-height: 1.6;letter-spacing: -0.45px;color: #505961;}
