@font-face {
  font-family: 'Material Icons';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: url(google_icons/MaterialIconsOutlined-Regular.woff2) format('woff2'),
    url(google_icons/MaterialIconsOutlined-Regular.woff) format('woff'),
    url(google_icons/MaterialIconsOutlined-Regular.otf) format('opentype');
}
/*
@font-face {
    font-family: 'Noto Sans KR';
    font-display: fallback;
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'),
        local('NotoSans-Light');
    src:url('NotoSansKR/NotoSansKR-Light.eot');
	src:url('NotoSansKR/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
		url('NotoSansKR/NotoSansKR-Light.woff2') format('woff2'),
		url('NotoSansKR/NotoSansKR-Light.woff') format('woff'),
		url('NotoSansKR/NotoSansKR-Light.ttf') format('truetype'),
		url('NotoSansKR/NotoSansKR-Light.svg#NotoSansKR-Light') format('svg');
}
*/
@font-face {
    font-family: 'Noto Sans KR';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'),
        local('NotoSans-Regular');
    src:url('NotoSansKR/NotoSansKR-Regular.eot');
    src:url('NotoSansKR/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
        url('NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
        url('NotoSansKR/NotoSansKR-Regular.ttf') format('truetype'),
        url('NotoSansKR/NotoSansKR-Regular.svg#NotoSansKR-Regular') format('svg');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: fallback;
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'),
        local('NotoSans-Medium');
    src:url('NotoSansKR/NotoSansKR-Medium.eot');
	src:url('NotoSansKR/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
		url('NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
		url('NotoSansKR/NotoSansKR-Medium.woff') format('woff'),
		url('NotoSansKR/NotoSansKR-Medium.ttf') format('truetype'),
		url('NotoSansKR/NotoSansKR-Medium.svg#NotoSansKR-Medium') format('svg');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: fallback;
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'),
        local('NotoSans-Bold');
    src:url('NotoSansKR/NotoSansKR-Bold.eot');
	src:url('NotoSansKR/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
		url('NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
		url('NotoSansKR/NotoSansKR-Bold.ttf') format('truetype'),
		url('NotoSansKR/NotoSansKR-Bold.svg#NotoSansKR-Bold') format('svg');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-display: fallback;
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'),
        local('NotoSans-Black'),
        url('NotoSansKR/NotoSansKR-Black.woff2') format('woff2'),
        url('NotoSansKR/NotoSansKR-Black.woff') format('woff'),
        url('NotoSansKR/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'),
        local('Lato-Regular'),
        url(Lato/Lato-Regular.ttf) format('truetype'),
        url(Lato/Lato-Regular.woff2) format('woff2'),
        url(Lato/Lato-Regular.woff) format('woff');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Lato';
    font-display: fallback;
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'),
        local('Lato-Bold'), 
        url(Lato/Lato-Bold.ttf) format('truetype'),
        url(Lato/Lato-Bold.woff2) format('woff2'),
        url(Lato/Lato-Bold.woff) format('woff');
    unicode-range: U+0030-0039;
}
@font-face {
    font-family: 'Lato';
    font-display: fallback;
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), 
        local('Lato-Black'), 
        url(Lato/Lato-Black.ttf) format('truetype'),
        url(Lato/Lato-Black.woff2) format('woff2'),
        url(Lato/Lato-Black.woff) format('woff');
    unicode-range: U+0030-0039;
}

.material-icons-outlined, .butn_ico, .btn i, .butn i, .butn_more i, .ui_accordion .acco_btn i, .gnb i, .breadcrumb-item::before, .mdo-ico{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}